.total {
    display: flex;
    flex-direction: row;
    align-content: center;
    vertical-align: middle;
}

.checkout {
    composes: pt-10 from global;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.currencyicon {
    height: 100px;
}

.scrollablecontent {
    composes: custom-scroll from global;
    height: 30vh;
    overflow-x: hidden;
    overflow-y: scroll
}