.constructrowrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center
}

.total {
    composes: pr-10 from global;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.checkout {
    composes: pt-10 pr-10 from global;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    -webkit-justify-content: flex-end;
}

.currencyicon {
    height: 100px;
}

.scrollablecontent {
    composes: custom-scroll pr-1 pt-1 pb-1 from global;
    height: 30vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}

.drag {
    position: absolute;
    display: flex;
    align-items: center;
}

.listitem {
    composes: pt-1 pb-1 from global;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.constructorelement {
    padding-left: 32px;
}

.constructorelementtop {
    padding: 16px 24px ;
    margin-left: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: var(--background-element);
    max-width: 488px;
    width: 100%;
    min-height: 48px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
    border-radius: var(--top-constructor-item-border-radius);
}

.constructorelementbottom {
    padding: 16px 24px ;
    margin-left: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: var(--background-element);
    max-width: 488px;
    width: 100%;
    min-height: 48px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
    border-radius: var(--bottom-constructor-item-border-radius);
}

.constructorelementmiddle {
    margin-top:10px;
    padding: 16px 24px;
    margin-left: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background: var(--background-element);
    max-width: 488px;
    width: 100%;
    height: 100%;
    min-height: 48px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
    border-radius: var(--common-border-radius-s);
}

.constructor-element__row {
    display: flex;
    align-items: center;
}