.orderdetails {
    text-align: center;
}

.spinnercontainer
{
    position: fixed;
    width: 100%;
    padding: 10px;
    top: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    left: 50%;
    margin-top: -100px; 
    margin-left: -100px;
}

.upper {
    animation: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes rotate {
    0%
    {
        transform: rotateZ(0deg);
    }
    100%
    {
        transform: rotateZ(360deg);
    }
}