.content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    height: 88vh;

}

.ingredients {
    composes: pr-10 mt-10 from global;
    width: 50%;
    overflow: hidden;
}

.burgerconstructor {
    composes: mt-25 ml-4 mr-4 from global;
    width: 50%;
    overflow: hidden;
}

.orderwrapper {
    padding-top: 260px;
    display: flex;
    justify-content: center;
}