.modal {
    background-color: #1C1C21;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}
.modalcontent {
    padding: 40px;
}