header {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
    height: 12vh;
}

.nav {
    composes: pt-4 pb-4 from global;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-start;
    vertical-align: middle;
}

.nav li {
    display: flex;
    align-items: center;
}

.login {
    composes: p-2 from global;
    display: flex;
    flex-direction: row;
    align-items:center;
}
